@page "/addclient"
@using SmartWorkout.DBAccess.Entities
@using SmartWorkout.DataAccess.Repositories

@inject IGenericRepository<User> repo;

<h3>User</h3>

<EditForm Model="newUser" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3 w-50">
        <label for="name">Name</label>
        <InputText id="name" class="form-control" @bind-Value="newUser.Name" />
    </div>
    <div class="mb-3 w-50">
        <label for="surname">Surname</label>
        <InputText id="surname" class="form-control" @bind-Value="newUser.Surname" />
    </div>
    <div class="mb-3 w-50">
        <label for="email">Email</label>
        <InputText id="email" class="form-control" @bind-Value="newUser.Email" />
    </div>
    <div class="mb-3 w-25">
        <label for="phone">Phone</label>
        <InputText id="phone" class="form-control" @bind-Value="newUser.Phone" />
    </div>
    <div class="mb-3 w-25">
        <label for="weight">Weight</label>
        <InputNumber id="weight" class="form-control" @bind-Value="newUser.Weight" />
    </div>
    <div class="mb-3 w-25">
        <label for="age">Age</label>
        <InputNumber id="age" class="form-control" @bind-Value="newUser.Age" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Add User</button>
    </div>
</EditForm>

@code {
    private User newUser = new User();

    private async Task HandleValidSubmit()
    {
        await repo.AddAsync(newUser);
        newUser = new User();
    }
}
