.btn-primary-bordered {
    border-radius: 8px; /* Make the button slightly rounder */
    color: #fff;
    background-color: #1b6ec2;
    border: 2px solid #1861ac;
    padding: 12px 24px; /* Decrease padding to make the button smaller */
    font-size: 16px; /* Decrease font size for smaller text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.btn-primary-bordered:hover {
    background-color: #1861ac; /* Darker background color on hover */
    border-color: #14548a; /* Darker border color on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}

table {
    width: 100%;
    border-collapse: collapse; /* Ensure no extra spacing around cells */
}

tbody {
    width: 80%;
    display: flex; /* Use flexbox layout for tbody */
    flex-wrap: wrap; /* Allow rows to wrap onto new lines */
    gap: 20px; /* Space between rows */
}

tbody tr {
    display: flex; /* Make each row a flex container */
    flex: 2;
    flex-wrap: wrap;
    margin-bottom: 10px; /* Increased space between rows */
    border: 1px solid #ccc; /* Border around each row */
    padding: 15px; /* Increased padding for plump appearance */
    box-sizing: border-box; /* Include border and padding in width/height */
    border-radius: 10px; /* Rounded corners for rows */
}

td {
    flex: 1; /* Allow cells to take equal space within their row */
    padding: 15px; /* Increased padding for plump appearance */
    font-size: 30px; /* Increase font size for cell text */
    padding-left: 30px;
}
