@page "/exercises"
@using SmartWorkout.DBAccess.Entities
@using SmartWorkout.DataAccess.Repositories

@inject IGenericRepository<Exercise> repo;
@inject NavigationManager Navigation;

@attribute [StreamRendering]

@rendermode InteractiveServer

<PageTitle>Exercises</PageTitle>

<h1>Exercises</h1>

@if (exercises == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        @* <thead class="header">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead> *@
        <tbody class>
            @foreach (var exercise in exercises)
            {
                <tr>
                    @* <td>@exercise.Id</td> *@
                    <td>@exercise.Name</td>
                    <td>
                        <button class="btn-primary-bordered" @onclick="() => GoToUpdate(exercise.Id)">Update</button>
                        <button class="btn-danger-bordered" @onclick="() => OpenDeleteDialog(exercise.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (DeleteDialogOpen)
{
    <ModalDialog Title="Are You Sure?" Text="Do you want to delete this exercise?" OnClose="@OnDeleteDialogClose" DialogType="ModalDialog.ModalDialogType.DeleteCancel"></ModalDialog>
}

@code {
    private List<Exercise> exercises = new List<Exercise>();

    public bool DeleteDialogOpen { get; set; }

    private int exerciseToDeleteId;

    protected override async Task OnInitializedAsync()
    {
        await LoadExercises();
    }

    private async Task LoadExercises()
    {
        try
        {
            var col = await repo.GetAllAsync();
            exercises = col.ToList();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading exercises: {ex.Message}");
        }
    }

    private void GoToUpdate(int id)
    {
        Navigation.NavigateTo($"/updateexercise/{id}");
    }

    private async Task OnDeleteDialogClose(bool accepted)
    {
        if (accepted)
        {
            try
            {
                await repo.DeleteAsync(exerciseToDeleteId);
                var workoutsToRemove = exercises.FirstOrDefault(u => u.Id == exerciseToDeleteId);
                if (workoutsToRemove != null)
                {
                    exercises.Remove(workoutsToRemove);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Error deleting exercise: {ex.Message}");
            }
        }
        DeleteDialogOpen = false;
        StateHasChanged();
    }

    private void OpenDeleteDialog(int id)
    {
        DeleteDialogOpen = true;
        exerciseToDeleteId = id;
        StateHasChanged();
    }
}

