.btn-primary-bordered {
    border-radius: 8px; 
    color: #fff;
    background-color: #1b6ec2;
    border: 2px solid #1861ac;
    padding: 12px 24px; 
    font-size: 16px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.btn-danger-bordered {
    padding: 6px 6px;
    border-radius: 12px;
    color: #fff;
    background-color: #e60026;
    border: 2px solid #ff0800;
    padding: 12px 24px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.btn-primary-bordered:hover {
    background-color: #1861ac;
    border-color: #14548a; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

table {
    width: 100%;
    border-collapse: collapse;
}

tbody {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

tbody tr {
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
}

td {
    flex: 1; /* Allow cells to take equal space within their row */
    padding: 15px; /* Increased padding for plump appearance */
    font-size: 30px; /* Increase font size for cell text */
    padding-left: 30px;
}
