.btn-primary-bordered {
    border-radius: 8px;
    color: #fff;
    background-color: #1b6ec2;
    border: 2px solid #1861ac;
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.btn-danger-bordered {
    padding: 6px 6px;
    border-radius: 12px;
    color: #fff;
    background-color: #e60026;
    border: 2px solid #ff0800;
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.header {
    color: #fff;
    background: linear-gradient(to right, #191970, #4b0082, #66023c);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

tbody td:hover {
    background-color: rgba(0, 0, 0, 0.2);
}