@inherits LayoutComponentBase

<HeadContent>
    @if (isDarkMode)
    {
        <link rel="stylesheet" href="DarkMode.css"/>
    }
</HeadContent>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked="@isDarkMode" @onchange="@OnCheckboxChange"/>
                <label class="form-check-label" for="flexSwitchCheckDefault">Dark Mode</label>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code{
    private bool isDarkMode = false;

    private void OnCheckboxChange(ChangeEventArgs e){
        if(e.Value != null)
        {
            isDarkMode = (bool)e.Value;
        }
    }
}
